# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Django
db.sqlite3
*.sqlite3

# Environments
venv/
.venv/
env/
.env/

# VSCode & PyCharm
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
